
<div class="container-md">
  <div class="d-flex flex-row justify-content-between align-content-center header-container">
    <div class="identity-section">
      <span class="identity-section__name text-nowrap d-block d-md-inline">
        <i class="bi bi-h-square-fill text-primary"></i>
        Hung Cung
      </span>
      <span class="identity-section__separator d-none d-md-inline">/</span>
      <span class="identity-section__job text-nowrap d-block d-md-inline">Web developer</span>
    </div>

    <div class="menu-section d-none d-md-flex flex-row align-items-center justify-content-between">
      <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
    </div>

    <div class="menu-toggle d-block d-md-none" (click)="openMenu()">
      <i class="menu-toggle__icon bi bi-list"></i>
    </div>
  </div>

  <!--  Mobile menu-->
  <div class="mobile-menu d-none" [class.d-none]="!isOpenMenu">
    <div class="mobile-menu__close-icon cursor-pointer">
      <i class="bi bi-x-circle" (click)="closeMenu()"></i>
    </div>
    <div class="mobile-menu__content">
      <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
    </div>
  </div>
</div>

<ng-template #menuItems>
  <a routerLink="/about-me" class="menu-item">About me</a>
  <a routerLink="/resume" class="menu-item">Resume</a>
  <a routerLink="/resume" class="menu-item">Project</a>
  <a routerLink="/resume" class="menu-item">Contact</a>
</ng-template>


