@import "bootstrap-cfg";

.header-container {
  padding: 40px 0
}
.menu-section {
  width: 400px;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-between;
}

.menu-item {
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    color: $primary
  }
}

.identity-section {
  &__name {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__separator {
    margin: 0 0.5rem;
  }

  &__job {
    text-transform: uppercase;
  }
}
