
<div class="container-md">
  <div class="d-flex flex-row justify-content-between align-content-center header-container">
    <div class="identity-section">
      <span class="identity-section__name">Hung Cung</span>
      <span class="identity-section__separator">/</span>
      <span class="identity-section__job">Web developer</span>
    </div>

    <div class="menu-section">
      <div class="menu-item">About me</div>
      <div class="menu-item">Resume</div>
      <div class="menu-item">Project</div>
      <div class="menu-item">Contact</div>
    </div>
  </div>
</div>
