@import "bootstrap-cfg";
@import "custom-cfg";

.header-container {
  padding: 40px 0
}
.menu-section {
  width: 350px;

  @include media-breakpoint-up(lg) {
    width: 400px;
  }
}

.menu-toggle {
  &__icon {
    font-size: scale-text-size('2xl');

    &:hover {
      cursor: pointer;
    }
  }

}

.menu-item {
  text-transform: uppercase;
  text-decoration: none;
  color: unset;

  &:hover {
    cursor: pointer;
    color: $primary
  }
}

.mobile-menu {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background-color: white;
  z-index: $zindex-fixed;

  &__close-icon {
    position: absolute;
    font-size: scale-text-size('xl');
    top: 1.5rem;
    right: 1.5rem;
  }

  &__content {
    margin-top: 5rem;

    & > .menu-item {
      padding: 1.25rem 0;
      text-align: center;
    }
  }

}

.identity-section {
  font-size: scale-text-size('lg');

  &__name {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__separator {
    margin: 0 0.5rem;
  }

  &__job {
    text-transform: uppercase;
    white-space: nowrap;
  }
}


