<div class="container-md my-3">
  <div class="row">
    <div class="left-section col-md-5 col-lg-7 col-xl-8 order-1 order-md-0">
      <p class="mb-0 mt-3">@2022 by Hung Cung</p>
    </div>
    <div class="right-section col-md-7 col-lg-5 col-xl-4 order-0 order-md-1 row">
      <div class="box col">
        <p class="box__head">Email for work</p>
        <div class="box__body">
          <a class="text-black text-decoration-none" href="mailto:cungthehung@gmail.com">cungthehung@gmail.com</a>
        </div>
      </div>

      <div class="box col">
        <p class="box__head">Social network</p>
        <div class="box__body">
          <div class="social-lists">
            <a href="#" title="Facebook" target="_blank" class="text-decoration-none text-black">
              <i class="social-lists__icon bi bi-facebook"></i>
            </a>

            <a href="https://www.linkedin.com/in/hungcung/" target="_blank" title="Linkedin" class="text-decoration-none text-black">
              <i class="social-lists__icon bi bi-linkedin"></i>
            </a>

            <a href="https://leetcode.com/chimung/" target="_blank" title="LeetCode">
              <img class="social-lists__icon social-lists__icon--img" src="/assets/img/leetcode.svg" alt="Leetcode">
            </a>

            <a href="https://www.hackerrank.com/cungthehung" target="_blank" title="HackerRank">
              <img class="social-lists__icon social-lists__icon--img" src="/assets/img/hackerrank.svg" alt="Hackerrank">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


