<div class="container-md">
  <div class="row">
    <div class="left-section col-md-5 col-lg-7 col-xl-8">
      <p class="mb-0 mt-3">@2022 by Hung Cung</p>
    </div>
    <div class="right-section col-md-7 col-lg-5 col-xl-4 row">
      <div class="box col">
        <p class="box__head">Email for work</p>
        <div class="box__body">
          <span>cungthehung@gmail.com</span>
        </div>
      </div>

      <div class="box col">
        <p class="box__head">Social network</p>
        <div class="box__body">
          <div class="social-lists">
            <i class="social-lists__icon bi bi-facebook"></i>
            <i class="social-lists__icon bi bi-twitter"></i>
            <i class="social-lists__icon bi bi-linkedin"></i>
            <i class="social-lists__icon bi bi-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


