

<div class="bg-secondary py-5">
  <p class="title">
    <i class="bi bi-h-square-fill text-primary"></i>
    Resume
  </p>

  <div class="wrapper">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="section-name">Experience</div>
      <button class="btn btn-primary nav-btn text-uppercase">Download CV</button>
    </div>

    <!-- Techcombank-->
    <div class="exp-box shadow mb-5">
      <div class="exp-box__header">Dec 2020 - Apr 2022</div>
      <div class="exp-box__body">
        <div class="exp-box__leading">
          <div class="exp-box__position">Senior Angular Frontend Developer</div>
          <div class="exp-box__comp-name">
            <p class="mb-0">Vietnam Technological and Commercial Joint - stock Bank</p>
            <p>Techcombank - Hanoi</p>
          </div>
          <div class="exp-box__comp-location"></div>
        </div>
        <div class="exp-box__trailing">
          <p>I'm working in Transformation Office to help Techcombank to upgrade Retail Banking website. We'readapting the latest platform to improve user experience.</p>
          <p>Technology stack:</p>
          <ul>
            <li>Angular framework</li>
            <li>Eslint/Sonarqueue to lint typescript code and detect code smells, security issues</li>
            <li>Implements CI/CD to make work process faster</li>
            <li>Using OpenAPI to make API contracts between Frontend and Backend</li>
            <li>Unit test by Jest</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Boxme Fulfillment-->
    <div class="exp-box shadow mb-5">
      <div class="exp-box__header">Oct 2019 to Dec 2020</div>
      <div class="exp-box__body">
        <div class="exp-box__leading">
          <div class="exp-box__position">Frontend Developer</div>
          <div class="exp-box__comp-name">
            <p>Boxme - Premier eCommerce Fulfillment</p>
          </div>
          <div class="exp-box__comp-location"></div>
        </div>
        <div class="exp-box__trailing">
          <p>Building e-commerce website Omisell that help seller can manage omnichannel in one place.</p>
          <ul>
            <li>We choosed Angular framework ( version 8 ) to work with. In addition to manage global state ofapplication, we use NGRX.</li>
            <li>We build css based on Bootstrap and apply BEM syntax. That help us develop feature faster</li>
            <li>Integrating API by Restful API.</li>
            <li>Help team sketch structure project out</li>
            <li>Using git for resource management.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Powergate Software-->
    <div class="exp-box shadow mb-5">
      <div class="exp-box__header">Jan 2017 to Aug 2019</div>
      <div class="exp-box__body">
        <div class="exp-box__leading">
          <div class="exp-box__position">Frontend Developer</div>
          <div class="exp-box__comp-name">
            <p>Powergate software</p>
          </div>
          <div class="exp-box__comp-location"></div>
        </div>
        <div class="exp-box__trailing">
          <p>Participating in building frontend project about the management reports in bank, the social networkfor retired soldiers and veterans, auctions...by using AngularJS/Angular2+, Ionic technologies for webapplication, mobile application respectively.</p>
          <ul>
            <li>Integrating API by Restful API</li>
            <li>Integrating chat by socket.IO</li>
            <li>Writing Unit Test for nodejs</li>
            <li>Using git for resource management</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Freelancer -->
    <div class="exp-box shadow mb-5">
      <div class="exp-box__header">May 2016 to Jan 2017</div>
      <div class="exp-box__body">
        <div class="exp-box__leading">
          <div class="exp-box__position">Freelancer Developer</div>
          <div class="exp-box__comp-name"></div>
          <div class="exp-box__comp-location"></div>
        </div>
        <div class="exp-box__trailing">
          <p>Communicating to customer about work:</p>
          <ul>
            <li>Developing a tool which scrape product information in Amazon</li>
            <li>Developing useful extension in google chrome</li>
          </ul>

          <p>My profile: <a href="https://www.freelancer.com/u/cungthehung">Freelancer.com</a></p>
        </div>
      </div>
    </div>

    <!-- Intern -->
    <div class="exp-box shadow mb-5">
      <div class="exp-box__header">Mar 2015 to May 2016</div>
      <div class="exp-box__body">
        <div class="exp-box__leading">
          <div class="exp-box__position">Security Analyst (Intern)</div>
          <div class="exp-box__comp-name">Viettel Cyber Security</div>
          <div class="exp-box__comp-location"></div>
        </div>
        <div class="exp-box__trailing">
          <p>Research the vulnerability of software, exploit code by reversing (Reverse Engineering)</p>
        </div>
      </div>
    </div>
  </div>


</div>
