<div class="position-relative">
  <div class="bg-cover">
    <div class="bg-cover__leading"></div>
    <div class="bg-cover__trailing"></div>
  </div>

  <div class="content">
    <div class="content__leading about-me-shadow">
      <div class="about-me">
        <div class="about-me__body">
          <div class="avatar mt-4">
          </div>
          <div class="name mt-4">Hung Cung</div>
          <div class="sep mt-4"></div>
          <div class="title-job mt-4">Web developer</div>
        </div>
        <div class="about-me__social">
          <div class="social-lists">
            <i class="social-lists__icon bi bi-facebook"></i>
            <i class="social-lists__icon bi bi-twitter"></i>
            <i class="social-lists__icon bi bi-linkedin"></i>
            <i class="social-lists__icon bi bi-instagram"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="content__trailing">
      <p class="greet-line mb-0">Hello</p>
      <h5 class="mt-1 mb-4">Here's who I am & what I do</h5>
      <div class="nav-btn-group mb-4">
        <div class="btn btn-outline-dark nav-btn me-3">Resume</div>
        <div class="btn btn-outline-dark nav-btn">Projects</div>
      </div>

      <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>

      <p>I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
  </div>
</div>
