<div class="position-relative">
  <div class="bg-cover">
    <div class="bg-cover__leading"></div>
    <div class="bg-cover__trailing"></div>
  </div>

  <div class="content">
    <div class="content__leading about-me-shadow">
      <div class="about-me">
        <div class="about-me__body">
          <div class="avatar mt-5">
          </div>
          <div class="name mt-4">Hung Cung</div>
          <div class="sep mt-4"></div>
          <div class="title-job mt-4">Web developer</div>
        </div>
        <div class="about-me__social">
          <div class="social-lists">
            <a href="#" title="Facebook" target="_blank" class="text-decoration-none text-black">
              <i class="social-lists__icon bi bi-facebook"></i>
            </a>

            <a href="https://www.linkedin.com/in/hungcung/" target="_blank" title="Linkedin" class="text-decoration-none text-black">
              <i class="social-lists__icon bi bi-linkedin"></i>
            </a>

            <a href="https://leetcode.com/chimung/" target="_blank" title="LeetCode">
              <img class="social-lists__icon social-lists__icon--img" src="/assets/img/leetcode.svg" alt="Leetcode">
            </a>

            <a href="https://www.hackerrank.com/cungthehung" target="_blank" title="HackerRank">
              <img class="social-lists__icon social-lists__icon--img" src="/assets/img/hackerrank.svg" alt="Hackerrank">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="content__trailing">
      <p class="greet-line mb-0">Hello</p>
      <h5 class="mt-1 mb-4">Here's who I am & what I do</h5>
      <div class="nav-btn-group mb-4">
        <a routerLink="/resume">
          <div class="btn btn-outline-dark nav-btn me-3">Resume</div>
        </a>
        <a routerLink="/projects">
          <div class="btn btn-outline-dark nav-btn">Projects</div>
        </a>
      </div>

      <p>I found myself working well under pressure, having a passion for learning and improving quality ofwork.</p>

      <p>I want to experience a challenging job in a dynamic and professional working environment.</p>
    </div>
  </div>
</div>
